<!DOCTYPE html>
<html>
  <head>
    <title>JaipurCityHospital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "popper.min.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
  </head>

  <body>
    <div id="layout-wrapper">
    <%= render 'layouts/header' %>
    <%#= render 'layouts/sidebar' %>
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <% if notice %>
    <p class="notice alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
       <p class="alert alert-danger"><%= alert %></p>
       <% end %>
    <%= yield %>
  </div>
</div>

  </div>
  <%= render 'layouts/footer' %>
</div>
  </body>
</html>
